<!-- section blog post du debat libre -->
<div class="section layout_padding blog_blue_bg light_silver">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="heading">
                    <h3>Que pensez-vous?</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="full">
                    <div class="big_blog">
                        <img class="img-responsive" src="../../assets/images/comments.jpg" alt="#" />
                    </div>
                    <div class="blog_cont_2">
                        <h3>{{Debat.title}}</h3>
                        <p class="sublittle">{{Debat.date?.toDate() | date:'medium'}}</p>
                        <p>{{Debat.container}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section commentaire-->
<section class="layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading" style="padding-left: 15px;padding-right: 15px;">
                    <h4 style="border-bottom: solid #333 1px;">Commentaires</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="full comment_blog_line">
                    <div class="row">
                        <!--<div class="col-md-1">
                            <img src="../../assets/images/c_2.png" alt="#" />
                        </div> -->
                        <div class="col-md-9">
                            <div class="full contact_text" *ngFor="let msg of Msgs"
                                style="border-style: inset;   width: 135%;">
                                <div>
                                    <h3 style="color: #2f2f79;font-size: 17px;">{{ msg.author }}</h3>
                                </div>
                                <div style="margin-top: -24px;margin-left: 84%;">
                                    <h4>{{ msg.date?.toDate() | date:'medium'}}</h4>
                                </div>
                                <p>{{msg.message}}</p> <br>
                            </div>
                        </div>
                        <!--<div class="col-md-2">
                            <a class="reply_bt" href="#">Reply</a>
                        </div> -->
                    </div>

                </div>
            </div>

        </div>

        <div class="row margin_top_30">
            <div class="col-md-12 margin_top_30">
                <div class="heading" style="padding-left: 15px;padding-right: 15px;">
                    <h4>Ajouter un commentaire</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="full comment_form">
                    <form action="index.html">
                        <fieldset>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" name="authorName" [(ngModel)]="authorName"
                                            placeholder="Nom d'utilisateur" required="#" />
                                        <input type="text" name="message" [(ngModel)]="message"
                                            placeholder="Commentaire" required="#" />
                                    </div>



                                    <!--<div class="col-md-6">
                                        <textarea placeholder="Comment"></textarea>
                                    </div> -->
                                </div>
                                <div class="row margin_top_30">
                                    <div class="col-md-12">
                                        <div class="center">
                                            <button (click)="addMsg()">Publier</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--créer nouveau vote-->
                            
                            <!--fin création vote-->
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<app-chart-forms></app-chart-forms>

<section class="layout_padding" style="padding-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading" style="padding-left: 15px;padding-right: 15px;">
                    <h4 style="border-bottom: solid #333 1px;">Votez ici et visualisez le graphe des caractéristiques
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="full comment_blog_line">
                    <div class="row">
                        <fieldset>
                            <div class="col-md-12">

                                <app-buttons></app-buttons>

                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>