<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6" style="background: #0f0824;">
                <ul class="contact_information">
                    <li><span>
                        alt="#" /></span><span
                            class="text_cont">24 rue St Jean du Pérot<br>17000 La Rochelle</span></li>
                            <li><span><img src="../../assets/images/phone_icon.png" alt="#" /></span><span class="text_cont">05
                                46 41 16 36</span></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6" style="background: #0f0824;">
                <ul class="contact_information">
                    <li><span><img src="../../assets/images/mail_icon.png" alt="#" /></span><span
                            class="text_cont">accueil@cdij17.fr</span></li>
                            <li><span><img src="../../assets/images/search_icon.png" alt="#" /></span><span
                                class="text_cont">www.infojeunesse17.com/</span></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6" style="background: #0f0824;">
            <ul class="social_icon">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<div class="cpy">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Copyright © 2019 Design by <a href="https://html.design/">Free Html Templates</a></p>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->