<div class="main-layout">
    <!-- loader  
        <div class="loader_bg">
            <div class="loader"><img src="../../assets/images/loading.gif" alt="" /></div>
        </div>
        end loader -->

    <div class="banner-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">
                    <div id="slider_main">
                        <div> 
                            <div> 
                                <main class="main-content">
                                    <div class="fullwidth-block" data-bg-color="#0f75bd">
                                        <div class="container">
                                            <div style="width: 700px; text-align:center; padding:0; padding-top: 70px;">
                                                <ng-image-slider #nav [images]="imageObject" [infinite]="true" [autoSlide]="1"
                                                    [imageSize]="{width: '100%', height: 239}" [imagePopup]="false" [animationSpeed]="2"
                                                    slideImage="1"></ng-image-slider>
                                            </div>
                                        </div>
                                    </div>
                                </main>
                                <!--<img src="../../assets/images/debat.jpg" alt="#" /> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="full slider_cont_section">
                        <h3>Plateforme de débat</h3>
                        <h4>qui favorise la réflexion</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content of
                            a
                            page when looking at its layout. The point of using Lorem Ipsum is that it has a
                            more-or-less normal distribution of letters</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3></h3>
    <!-- end revolution slider -->
    <!-- image slider pour les debats live  
    <div><h1> Demonstration slider des debats live hihi</h1></div>-->
    
    <ng-image-slider #nav [images]="imageObject" [infinite]="true" [autoSlide]="1"
        [imageSize]="{width: '25%', height: 200}" slideImage="1"></ng-image-slider>
    

    <!-- section -->
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h3>About <span class="orange_color">Us</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="../../assets/images/blog1.png" alt="#" />
                </div>
                <div class="col-md-6">
                    <div class="full blog_cont">
                        <h4>The biggest and most awesome camera of year</h4>
                        <h5>MAY 14 2019 5 READ</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't
                            look
                            even slightly believable.</p>
                    </div>
                </div>
            </div>
            <div class="row margin_top_30">
                <div class="col-md-6">
                    <img src="../../assets/images/blog2.png" alt="#" />
                </div>
                <div class="col-md-6">
                    <div class="full blog_cont">
                        <h4>What 3 years of android taught me the hard way</h4>
                        <h5>MAY 19 2019 5 READ</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't
                            look
                            even slightly believable.</p>
                    </div>
                </div>
            </div>
            <div class="row margin_top_30">
                <div class="col-md-12">
                    <div class="button_section full center margin_top_30">
                        <a style="margin:0;" href="about.html">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section layout_padding dark_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h3>Marketing</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="../../assets/images/marketing_img.png" alt="#" />
                </div>
                <div class="col-md-6">
                    <div class="full blog_cont">
                        <h3 class="white_font">Where can I get some</h3>
                        <h5 class="grey_font">March 19 2019 5 READ</h5>
                        <p class="white_font">There are many variations of passages of Lorem Ipsum available, but
                            the
                            majority have suffered alteration in some form, by injected humour, or randomised words
                            which don't look even slightly believable. If you are going to use a passage of Lorem
                            Ipsum,
                            you need to be sure there isn't anything embarrassing hidden in the middle of text. All
                            the
                            Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                            making
                            this the first true generator on the Internet. It uses a dictionary of over 200 Latin
                            words,
                            combined g to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                            embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the
                            Internet
                            tend to repeat predefined chunks as necessary, making this the first true generator..
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
   
    <!-- footer -->
    <!-- Javascript files-->
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/popper.min.js"></script>
    <script src="../../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/js/jquery-3.0.0.min.js"></script>
    <script src="../../assets/js/plugin.js"></script>
    <!-- Scrollbar Js Files -->
    <script src="../../assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../assets/js/custom.js"></script>
</div>